version: "3.8"
services:
    app:
        build:
            args:
                user: laravel
                uid: 1000
            context: ./
            dockerfile: Dockerfile
        image: larablog
        container_name: larablog-app
        restart: unless-stopped
        working_dir: /var/www/
        volumes:
            - ./:/var/www
        networks:
            - larablog

    db:
        image: mysql:8.0
        container_name: larablog-db
        restart: unless-stopped
        environment:
            MYSQL_DATABASE: ${DB_DATABASE}
            MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
            MYSQL_PASSWORD: ${DB_PASSWORD}
            MYSQL_USER: ${DB_USERNAME}
        networks:
            - larablog

    nginx:
        image: nginx:1.21.6
        container_name: larablog-nginx
        restart: unless-stopped
        ports:
            - 80:80
        volumes:
            - ./:/var/www
            - ./docker-compose/nginx:/etc/nginx/conf.d/
        networks:
            - larablog

    adminer:
        image: adminer
        restart: unless-stopped
        container_name: larablog-adminer
        ports:
            - 8080:8080
        depends_on:
            - db
        networks:
            - larablog

    redis:
        build:
            context: ./docker-compose/redis
            dockerfile: Dockerfile
        ports:
            - 6379:6379
        networks:
            - larablog

networks:
    larablog:
        driver: bridge
